mixin footer(data)
    // START .footer
    +b.DIV.footer
        .container
            +e.DIV.top
                +e.UL.list
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-android.svg" alt="Android")
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-apple.svg" alt="Apple")
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-18.svg" alt="18")
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-spam.svg" alt="Spam")
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-eye.svg" alt="Eye")
                    +e.LI.list-item
                        +e.IMG.list-item-img(src="img/footer-no.svg" alt="No")

            +e.DIV.bottom
                div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Tempus egestas sed sed risus. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae.
                    | Duis at tellus at urna condimentum mattis pellentesque id nibh. Interdum velit euismod in pellentesque.
                div
                    | Lectus mauris ultrices eros in cursus turpis massa. Venenatis a condimentum vitae sapien pellentesque habitant.
                div
                    | Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. 
    // END .footer